  <!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
  <head>
  	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
  	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
      <meta charset="utf-8"/>
      <title>Footer Fragments</title>
  </head>

  <body>
  <div th:fragment="footer" class="container">
  <hr/>
  <footer>
     	<p>© Verint 2015</p>
  </footer>
  </div>

  </body>
  </html>
