<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
	<div th:replace="fragments/head :: head"></div>
    <title>Security Spike</title>
</head>
<body>

	<div th:replace="fragments/navbar :: navbar"></div>	

	<div class="jumbotron">	
		<div class="container">	
			<h1>Spring Security Spike</h1>
			<p>Sample site for spring boot, users, roles, security, webjars, database etc</p>
			<p>You can use: demo@localhost / demo</p>
		</div>
	</div>
	
	<div class="container">
		<div class="row" th:if="${currentUser}">
			<div class="col-md-4">
				<h2>My Account</h2>
				<p>View my own account information.</p>
				<p><a class="btn btn-default" th:href="@{'/user/'+${currentUser.id}}" role="button">View »</a></p>
			</div>
			
			<div class="col-md-4" th:if="${currentUser.role == T(com.verint.lifecycle.domain.Role).ADMIN}">
				<h2>Create Account</h2>
				<p>Create a new user account.</p>
				<p><a class="btn btn-default" th:href="@{/user/create}" role="button">Create »</a></p>
			</div>
			
			<div class="col-md-4" th:if="${currentUser.role == T(com.verint.lifecycle.domain.Role).ADMIN}">
				<h2>View Users</h2>
				<p>View all Users.</p>
				<p><a class="btn btn-default" th:href="@{/users}" role="button">View »</a></p>
			</div>	
		</div>	
	
	<div th:replace="fragments/footer :: footer"></div>	
	
	</div>
	
</body>
</html>