<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
  <div th:replace="fragments/head :: head"></div>
  <title>User details</title>
</head>

<body>
  <div th:replace="fragments/navbar :: navbar"></div>

  <div class="jumbotron">
    <div class="container">
      <h1>Account Overview</h1>
    </div>
  </div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Email:</th>
          <th>Role:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${'Email Address: ' + user.email}">someone@someone.com</td>
          <td th:text="${user.role}">ADMIN</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
